* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "neue-haas-grotesk-display", sans-serif;
  background-image: url('https://source.unsplash.com/1600x900/?donuts');
  background-size: cover; 
  max-width: 100%;
  max-height: 100vh;
}

/* Return to content */
div h2 a.return {
  display: block;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  margin: 10px;
  color: aliceblue;
  text-shadow: 0px 0px 10px #000000;
  padding: 5px;
}

div h1 a.junkfood-logo {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 100px;
  font-weight: 900;
  text-decoration: none;
  color: aliceblue;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-shadow: 0px 0px 20px #000000;
  font-style: normal;
  letter-spacing: 0.5px;
} 

/* Form login page */
form {
  font-size: 30px;
  width: 30%;
  background: rgb(0, 0, 0, 0.8);
  padding: 10px;
  margin: 35%;
  margin-top: 5%;
  border-radius: 50px;
  transition: 0.3s;
}

form div h3 {
  font-size: 40px;
  font-weight: 700;
  color: aliceblue;
}

form div.form-group {
  width: 100%;
  display: block;
  text-align: center;
  
}

form div input {
  margin: 10px;
  margin-top: 20px;
  font-size: 25px;
  cursor: pointer;
}

 
input.placeholder {
  text-align: center;
}
 
button.btn {
  display: block;
  padding: 10px;
  margin: 20px 200px;
  cursor: pointer;
  font-size: 24px;
  background-color: #247BA0;
  color: aliceblue;
}

form div button.btn {
  text-align: right;
}

h5#submissionResponse {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

.modal-body {
  font-size: 20px;
  letter-spacing: 0.5px;
  padding: 5% 10%;
  text-align: center;
}



/* Media Queries */

/* Tablets */
@media screen and (max-width: 992px) {
  form {
    width: 50%;
    margin-left: 250px;
  }
  button.btn {
    margin-left: 190px;
  }
}
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
   form {
     margin-left: 190px;
   }
   button.btn {
    margin-left: 140px;
  }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  form {
    width: 60%;
    margin-left: 115px;
  }
  form div input {
    width: 75%;
  }
  button.btn {
    margin-left: 125px;
  }
}
