/* * {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 23px;
  line-height: 25px;
  letter-spacing: 0.5px;
} */

body {
  background-color: #dcbcc4;
  color: white;
}

#junkfood {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 50px;
}

h2 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 125px;
  margin: 0;
  /* height: 100px; */

}

.profile-pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.inna {
  object-position: 0% 20%;
}

.icons {
  width: 25px;
}

.bio {
  display: flex;
  flex: 1 0 auto;
  width: 700px;

  font-family: futura-pt,sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

/* Media Queries */

/* Tablets */
@media screen and (max-width: 992px) {

}
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {

}

/* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {

}