#junkfood_nav{
  font-family: neue-haas-grotesk-display,sans-serif;
  font-weight: 600;
  font-style: normal;
}

#munchies_list {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

#gifs{
  margin-top: 100px;
}

/* Media Queries */

/* Tablets */
@media screen and (max-width: 992px) {

}
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {

}

/* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {

}