body {
  background-color: #dcbcc4;
  color: white;
}

nav {
  margin: 25px;
  font-size: 20px;
}

#junkfood {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 50px;
  text-align: center;
}

h2 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 125px;
  text-align: center;
  margin: 0;
  /* height: 100px; */

}

article {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
}

.media {
  display: flex;
  position: relative;
  flex-direction: column;
}

.profile-pic {
  display: flex;
  flex: 1 0 auto;
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  
  
}

/* Inna */
.inna {
  position: absolute;
  object-position: 0% 20%;
  object-fit: cover;
  border-radius: 50%;
  left: 490px;
  top: 150px;
}

.inna-nameplate {
  position: absolute;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 100px;
  text-align: center;
  margin: 0;

  left: 820px;
  top: 6.4em;
}

.inna-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 165px;
  top: 30em;
  left: 520px;
}

.inna-bio {
  display: flex;
  flex: 1 0 auto;
  position: absolute;
  top: 22em;
  left: 700px;
  width: 5000px;

  font-family: futura-pt,sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 0.5px;
}

.inna-git {
  border-radius: 15px;
}

/* Victor */
.victor {
  position: absolute;
  object-position: 0% 60%;
  object-fit: cover;
  border-radius: 50%;
  right: 500px;
  top: 800px;
}

.victor-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 165px;
  top: 70em;
  right: 480px;
}

.victor-nameplate {
  position: absolute;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 100px;
  text-align: center;
  margin: 0;

  right: 775px;
  top: 10em;
}

.icons {
  width: 75px;
}

.victor-bio {
  display: flex;
  flex: 1 0 auto;
  position: absolute;
  top: 40.45em;
  left: 980px;
  width: 5000px;

  font-family: futura-pt,sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 0.5px;
  text-align: right;
}

p {
  width: 1200px;
}


 /* Media Queries */

/* Tablets */
@media screen and (max-width: 992px) {

}
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {

}

/* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {

}