* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: cover;
  animation: gradient 15s ease infinite;
  height: 100vh;
  font-size: 45px;
  font-weight: 800;
  font-style: normal;
  color: aliceblue;
  margin: 0 auto;
  font-family: "neue-haas-grotesk-display",sans-serif; 
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0.5px;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/* Welcome page with login link */
div h3 a.login {
  display: block;
  float: right;
  font-size: 25px;
  text-decoration: none;
  margin: 10px;
  color: white;
  text-shadow: 0px 0px 10px #000000;
  padding: 5px;
}

/* Welcome page junkfood title */
div h1 a#junkfood {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  color: white;
  width: 100vw;
  height: 85vh;
  text-decoration: none;
  text-shadow: 0px 0px 20px #000000;
}

/* Media Queries */

/* Tablets */
@media screen and (max-width: 992px) {

}
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {

}

/* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {

}